asyncpg==0.30.0
fastapi==0.115.8
httpx==0.28.1
orjson==3.10.15
pypgstac==0.9.2
pystac==1.12.1
pytest==8.3.4
pytest_postgresql==6.1.1
Shapely==2.0.7
stac_pydantic==3.1.4
starlette==0.45.3
Requests==2.32.3
